.add-bikoret-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  min-height: 60vh;
  align-items: center;
  padding-top: 60px;
  padding-left: 30px;
  border-radius: 23px;
  padding-right: 30px;
  flex-direction: column;
  padding-bottom: 60px;
  justify-content: center;
  background-color: #f8f9fa;
}
.add-bikoret-text {
  font-size: 40px;
}
.add-bikoret-textinput {
  padding: 15px;
  margin-top: 40px;
  text-align: center;
  transition: 0.3s;
  border-width: 0px;
  border-radius: 20px;
  background-color: #dee2e6;
}
.add-bikoret-textinput:focus {
  width: 80%;
  font-size: 18px;
  border-color: green;
  border-width: 2px;
}
.add-bikoret-text1 {
  margin-top: 35px;
  margin-bottom: 35px;
}
.add-bikoret-list-users {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  box-shadow: 2px 2px 2px 2px #d4d4d4, -2px -2px 2px 0px #d4d4d4;
  min-height: 70vh;
  align-items: center;
  padding-top: 45px;
  padding-left: 20px;
  border-radius: 30px;
  padding-right: 20px;
  flex-direction: column;
  padding-bottom: 45px;
  justify-content: center;
}
.add-bikoret-chosen-user {
  flex: 0 0 auto;
  color: green;
  width: 70%;
  height: auto;
  display: flex;
  padding: 25px;
  align-items: center;
  border-color: green;
  border-width: 3px;
  border-radius: 28px;
  margin-bottom: 30px;
  flex-direction: row;
  justify-content: center;
}
.add-bikoret-add {
  width: 40px;
  height: 30px;
  transition: 0.3s;
}
.add-bikoret-add:active {
  height: 40px;
}
.add-bikoret-text2 {
  font-size: 23px;
  padding-left: 45px;
  padding-right: 45px;
}
.add-bikoret-remove {
  width: 30px;
  height: 30px;
  transition: 0.3s;
}
.add-bikoret-remove:active {
  width: 40px;
  height: 40px;
}
.add-bikoret-none-chosen {
  flex: 0 0 auto;
  width: 70%;
  height: auto;
  display: flex;
  padding: 25px;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 3px;
  border-radius: 28px;
  margin-bottom: 30px;
  flex-direction: row;
  justify-content: center;
}
.add-bikoret-add1 {
  width: 40px;
  height: 30px;
  transition: 0.3s;
}
.add-bikoret-add1:active {
  height: 40px;
}
.add-bikoret-text3 {
  font-size: 23px;
  padding-left: 45px;
  padding-right: 45px;
}
.add-bikoret-remove1 {
  width: 30px;
  height: 30px;
  transition: 0.3s;
}
.add-bikoret-remove1:active {
  width: 40px;
  height: 40px;
}
.add-bikoret-button {
  color: white;
  padding: 22px;
  font-size: 20px;
  margin-top: 50px;
  transition: 0.3s;
  padding-top: 15px;
  padding-left: 15px;
  border-radius: 22px;
  margin-bottom: 50px;
  padding-right: 15px;
  padding-bottom: 15px;
  background-color: green;
}
.add-bikoret-button:active {
  color: green;
  background-color: white;
}
@media (max-width: 991px) {
  .add-bikoret-list-users {
    min-height: 50vh;
  }
  .add-bikoret-text2 {
    padding-left: 70px;
    padding-right: 70px;
  }
  .add-bikoret-text3 {
    padding-left: 70px;
    padding-right: 70px;
  }
}
@media (max-width: 767px) {
  .add-bikoret-list-users {
    min-height: 40vh;
  }
}
@media (max-width: 479px) {
  .add-bikoret-textinput {
    width: 80%;
  }
  .add-bikoret-list-users {
    box-shadow: 2px 2px 2px 2px #d4d4d4, -2px -2px 2px 2px #d4d4d4;
  }
  .add-bikoret-chosen-user {
    width: 90%;
    padding: 10px;
  }
  .add-bikoret-text2 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .add-bikoret-none-chosen {
    width: 90%;
    padding: 10px;
  }
  .add-bikoret-text3 {
    padding-left: 12px;
    padding-right: 12px;
  }
}
