.home-home {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 30px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: column;
  justify-content: flex-end;
}
.home-tabs {
  flex: 0 0 auto;
  width: 60%;
  height: 100px;
  display: flex;
  align-items: center;
  border-color: #969393;
  border-style: inset;
  border-width: 1px;
  padding-left: 30px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 30px;
  flex-direction: row;
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.home-icon2 {
  width: 24px;
  height: 24px;
}
.home-icon4 {
  width: 24px;
  height: 24px;
}
.home-list-rooms {
  flex: 0 0 auto;
  width: 75%;
  display: flex;
  margin-top: 30px;
  min-height: 60vh;
  align-items: center;
  padding-top: 80px;
  padding-left: 30px;
  border-radius: 30px;
  padding-right: 30px;
  flex-direction: column;
  padding-bottom: 30px;
  justify-content: flex-start;
  background-color: #f8f9fa;
}
.home-text1 {
  font-size: 26px;
}
.home-text2 {
  font-size: 22px;
}
@media (max-width: 479px) {
  .home-list-rooms {
    width: 90%;
  }
  .home-room {
    width: 85%;
    border-radius: 25px;
  }
}
