.tabs-home-tabs {
  flex: 0 0 auto;
  width: 60%;
  height: 100px;
  display: flex;
  align-items: center;
  border-color: #969393;
  border-style: inset;
  border-width: 1px;
  padding-left: 40px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 40px;
  flex-direction: row;
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.tabs-home-icon {
  width: 30px;
  height: 30px;
  transition: 0.3s;
}
.tabs-home-icon:active {
  width: 40px;
  height: 40px;
  padding: 0px;
  box-shadow: 5px 5px 10px 2px #d4d4d4;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 50px;
}
.tabs-home-icon2 {
  width: 30px;
  height: 30px;
  transition: 0.3s;
}
.tabs-home-icon2:active {
  width: 40px;
  height: 40px;
  padding: 0px;
  box-shadow: 5px 5px 10px 2px #d4d4d4;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 50px;
}
.tabs-home-icon4 {
  width: 30px;
  height: 30px;
  transition: 0.3s;
}
.tabs-home-icon4:active {
  width: 40px;
  height: 40px;
  padding: 0px;
  box-shadow: 5px 5px 10px 2px #d4d4d4;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 50px;
}
@media (max-width: 479px) {
  .tabs-home-tabs {
    width: 85%;
    padding-left: 18px;
    padding-right: 18px;
  }
}
