.list-rooms-list-rooms {
  flex: 0 0 auto;
  width: 75%;
  display: flex;
  margin-top: 30px;
  min-height: 60vh;
  align-items: center;
  padding-top: 80px;
  padding-left: 30px;
  border-radius: 30px;
  padding-right: 30px;
  flex-direction: column;
  padding-bottom: 30px;
  justify-content: flex-start;
  background-color: #f8f9fa;
}
.list-rooms-text {
  font-size: 26px;
}
.list-rooms-container {
  flex: 0 0 auto;
  color: black;
  width: 35%;
  display: flex;
  margin-top: 25px;
  transition: 0.3s;
  align-items: center;
  padding-top: 25px;
  padding-left: 15px;
  border-radius: 30px;
  margin-bottom: 25px;
  padding-right: 15px;
  flex-direction: column;
  padding-bottom: 25px;
  justify-content: center;
  background-color: #dee2e6;
}
.list-rooms-container:active {
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  border-radius: 55px;
  background-color: transparent;
}
@media (max-width: 991px) {
  .list-rooms-container {
    width: 60%;
  }
}
@media (max-width: 479px) {
  .list-rooms-list-rooms {
    width: 90%;
  }
  .list-rooms-container {
    width: 78%;
  }
}
